/* === Ajustes generales ===*/
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.alert {
    height: 30vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.button-link-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* === Menu ===*/
.avatar {
    width: 35px;
    height: 30px;
    border-radius: 50%;
}

/* === Home ===*/
.home-container {
    padding: 40px 0;
}

.cta-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cta-buttons a {
    flex: 1;
    margin-right: 10px;
}

.card-inicio {
    margin-left: 10px;
}

/* === About ===*/
.logos-container {
    display: flex;
}

.logos {
    width: 6%;
    margin-right: 40px;
}

/* === Detalle de productos ===*/
.card-producto {
    width: 20rem;
    height: 100%;
}

/* === Categoria === */
.card-categoria {
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}

.card-image {
    max-height: 450px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

/* === Comentarios === */
.comentarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.comentarios-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.comentarios-list .comentario {
    min-width: 300px;
}

.comentarios-container .btn-comentario {
    margin-top: 8px;
    margin-left: 16px;
}

.star-icon {
    color: #ddd;
    cursor: pointer;
}

.star-icon.filled {
    color: #f8d120;
}

/* === Formulario eliminar producto === */
.eliminar-container img {
    width: 20%;
}

.agregar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* === Carrito === */

.carrito-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}

.carrito-container .btn-eliminar {
    margin-left: 5px;
}

.compra-form {
    margin-bottom: 2rem;
}

.compra-form .btn-comprar {
    margin-top: 15px;
    margin-left: 25%;
}

/* === Usuario === */
.user-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.user-card {
    width: 18rem;
}

.user-card .user-avatar {
    width: 40px;
    height: 30px;
}

.user-button-container {
    margin-left: 38.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-button-container button {
    margin-right: 20px;
}

.created-products-container {
    margin-top: 5rem;
    text-align: center;
}

.bought-products-container {
    margin-top: 5rem;
    text-align: center;
}

.sold-products-container {
    margin-top: 5rem;
    text-align: center;
}

/* === Footer === */
.footer-container {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #333;
}

.footer-links a:hover {
    color: #007bff;
}

/* === Responsive 1024px === */

@media (max-width: 1024px) {
    /* === Usuario === */
    .user-button-container {
        margin-left: 23rem;
    }
    
    .user-button-container button {
        margin-right: 20px;
    }
}

/* === Responsive 768px === */

@media (max-width: 768px) {
    /* === Usuario === */
    .user-button-container {
        margin-left: 15rem;
    }
}

/* === Responsive 425px === */

@media (max-width: 425px) {
    /* === Usuario === */
    .user-button-container {
        margin-left: 4rem;
    }
}

/* === Responsive 375px === */

@media (max-width: 375px) {
    /* === Usuario === */
    .user-button-container {
        margin-left: 2.5rem;
    }
}

/* === Responsive 320px === */

@media (max-width: 320px) {
    /* === Home === */
    .card-inicio {
        margin-left: 5px;
        margin-right: 5px;
    }

    /* === Categoria === */
    .card-categoria {
        margin: auto;
    }    

    /* === Usuario === */
    .user-button-container {
        margin-left: 2rem;
    }
}